# Папки сборки и временные файлы
build/
debug/
release/
.qmake.stash

# Файлы, сгенерированные Qt Creator
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*

# Скомпилированные объектные файлы
*.o
*.obj

# Файлы кэша и индексов, которые видны на скриншоте
*.idx
*.cache

# Исполняемые файлы
*.exe
*.dll

# Другие служебные файлы
*.a
*.so
*.dylib